<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414021570154-9vcn7qj0idl9dba6vaduu3svpdctleih.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414021570154-9vcn7qj0idl9dba6vaduu3svpdctleih</string>
	<key>API_KEY</key>
	<string>AIzaSyDxzfxnGJg34ds8h8V5R52yfyw4NHRCDGQ</string>
	<key>GCM_SENDER_ID</key>
	<string>414021570154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Aito.Vacations.DomesticTravelPlan</string>
	<key>PROJECT_ID</key>
	<string>app---av9---2</string>
	<key>STORAGE_BUCKET</key>
	<string>app---av9---2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414021570154:ios:6ce5472f8bcf1b0d514413</string>
	<key>DATABASE_URL</key>
	<string>https://app---av9---2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>